* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #5b645b;
}

.container > h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.container {
  position: relative;
  left: 50%;
  top: 80px;
  transform: translateX(-50%);
  width: 60%;
  max-width: 800px;
  border: none;
  padding: 20px;
  background-color: #140202;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#question {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
  padding: 5px;
}

#answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#answers > button {
  padding: 10px 20px;
  background-color: #5b645b;
  color: #110303;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#answers.selected {
  background-color: #fbfcff;
}

#answers > button:hover {
  background-color: #fafbfa;
}

#submit {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #f1f2f3;
  color: #0e0a0a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#submit:hover {
  background-color: #808e98;
}

#res {
  font-weight: bold;
  text-align: center;
  
}

#score {
  font-weight: bold;
  text-align: center
}

marquee{
  color: #fbfcff;
  margin: 5px;
}
